@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using DemoApplication.Extensions
@using DemoApplication.Extensions.Sitemap
@using DemoApplication.Extensions
@model DemoApplication.Models.Users.UserViewModel

@if (ViewBag.ShowBreadcrumb == true)
        {
            @Html.MvcSiteMap("System").Breadcrumb()
        } 

<div class="clearfix">
    
    <h2 class="pull-left">@Model.FullName</h2>
    @if (!string.IsNullOrWhiteSpace(Model.PhotoId))
    {
        <img src="@Url.GetPhotoUrl(Model.PhotoId, "small", "")" alt="" class="img-polaroid pull-right"/>
    }
</div>

<div class="btn-group pull-right">
@*    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Action
    <span class="caret"></span>
    </a>*@
    <ul class="dropdown-menu">
        @if (Model.IsLockedOut)
        {
            <li><a href="#" id="lock-user"><i class="icon-lock"></i>Lock User</a></li>
        }
        else
        {
            <li><a href="#" id="unlock-user"><i class="icon-unlock"></i>Unlock User</a></li>
        }
    </ul>
</div>
@Html.MvcSiteMap("System").Tabs(3, true, false, 1)

@RenderBody()