@model DemoApplication.Models.Sitemap.SitemapHelperModel

@{
    var ctx = ViewContext.RouteData;
}

<ul class="nav">
    @foreach (var node in Model.Nodes)
    {
        if (node.Children.Count > 0)
        {
        <li class="@(node.IsActiveNode(ViewContext) ? "active" : "") dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"><i class="@node.ImageUrl icon-white">
            </i>
                @node.Title
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach (var child in node.Children)
                {
                    <li><a href="@node.Url"><i class="@child.ImageUrl">
                    </i>@child.Title</a> </li>
                }
            </ul>
        </li>    
        }
        else
        {
        <li class="@(node.IsActiveNode(ViewContext) ? "active" : "")) && !node.IsRootNode)"><a href="@node.Url">
            <i class="@node.ImageUrl icon-white"></i>@node.Title</a></li>    
        }

    }
</ul>
