@using DemoApplication.Extensions.Html
@using DemoApplication.Extensions
@using DemoApplication.Extensions.Html
@{
    Bundles.Reference("content/less");
    Bundles.Reference("scripts/lib");
    Bundles.Reference("scripts");
}

<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.GetPageTitle()</title>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("head")
</head>
<body>
    @Html.Partial("_Modal")
    @RenderBody()

    @Bundles.RenderScripts()
</body>
</html>
