@{
    Layout = "~/Views/Shared/Cassette.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="~/">Demo Application</a>
            <div class="nav-collapse collapse">
                <div class="pull-right">
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    @Html.MvcSiteMap("System").MainMenu(false)  
}

@if (ViewBag.ShowBreadcrumb == true)
{
    @Html.MvcSiteMap("System").Breadcrumb()
}

@if (ViewBag.ShowAlerts == true)
{
    @Html.Partial("_Alert")
}

<div class="container-fluid">

    @RenderBody()

</div>

